@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

footer {
  padding: 30px;
  background-color: #24252a;
  text-align: center;
}

.banner {
  width: 100%;
  /* background-image: url(http://s30.postimg.org/x0ne0p5wx/bootsrap.png); */
  height: 405px;
  background-color: #c4c4c4;
  background-position: center;
  text-align: center;
}

.body {
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
}

.logo {
  cursor: pointer;
}

.nav__links a,
.cta,
.logo,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

#footer p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
  /* padding-top: 50px;
  padding-bottom: 100px; */
  text-align: center;

}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
  /* padding-top: 50px;
  padding-bottom: 100px; */
  text-align: center;

}

#contactBanner h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  padding-top: 50px;
  text-decoration: none;
  font-size: 60px;
  padding-bottom: 100px;
}

#homeBody h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
  padding-bottom: 50px;
}

#homeBody p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 30px;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #feb562;
}

.cta {
  padding: 9px 25px;
  background-color: #feb562;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

#contactBanner .cta {
  margin-top: 100px;
  padding: 9px 25px;
  background-color: #feb562;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: #ff941a;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #feb562;
}

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

input {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: white;
  width: 50%;
  font-size: 20px;
  border-radius: 5px;
  border-color: black;
  margin-bottom: 20px;
  margin-top: 20px;
}

textarea {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: white;
  width: 50%;
  font-size: 20px;
  border-radius: 5px;
  border-color: black;
  margin-bottom: 25px;
  margin-top: 20px;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-top: 25px;
  padding: 9px 25px;
  background-color: #feb562;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {

  .nav__links,
  .cta {
    display: none;
  }

  .menu {
    display: initial;
  }
}

.galleryCollumn {
  --gap: 16px;
  --num-cols: 2;
  --row-height: 500px;

  box-sizing: border-box;
  padding: var(--gap);

  /* place-items: center; */
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.imageGallery {
  --gap: 16px;
  --num-cols: 3;
  --row-height: 432px;

  box-sizing: border-box;
  padding: var(--gap);

  place-items: center;
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.imageGallery img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.galleryItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
}

.galleryGalleryItem {
  display: grid;
  align-items: center;
  justify-content: center;
}

.galleryImage img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  /* width: 100%; */
}

.galleryText {
  padding-left: 20px;
}